@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

:root {
    --gray-primary: #181818;
    --gray-secondary: #222222;
    --gray-tertiary: #282828;

    --white-primary: #ffffff;
    --white-secondary: #e7e7e7;
    --white-tertiary: #dedede;
    --white-quaternary: #d5d5d5;

    --purple-primary: #ac92ed;
    --purple-secondary: #7b52e1;


    --primary-font: 'Poppins', 'Montserrat', Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--gray-tertiary);
    color: var(--white-primary);

    font-family: var(--primary-font);
    text-rendering: optimizeLegibility;

    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
}

button {
    background-color: var(--white-secondary);
    color: var(--gray-primary);


    font-family: var(--primary-font);
    font-size: 1.5rem;
    font-weight: 500;

    border: 5px solid var(--purple-secondary);
    border-radius: 10px;

}

button:hover {
    background-color: var(--white-quaternary);
    color: var(--gray-primary);
}

button:active {
    transform: scale(1.03);
}

.equals {
    grid-row: span 2;
}

.zero {
    grid-column: span 2;
}

#container {
    display: grid;
    grid-template-columns: repeat(5, 75px);
    grid-template-rows: repeat(6, 75px);
    grid-gap: 10px;
    justify-content: center;
    align-content: center;


    width: fit-content;
    height: fit-content;
    
    padding: 10px;
    margin: 5% auto;
    max-height: 100%;
    overflow: hidden;

    background-color: var(--purple-primary);
    border: var(--purple-secondary) 5px solid;
    border-radius: 10px;
}

#display {
    grid-column: span 5;

    width: calc(100% - 10px); /* 10px = margin to align border */
    height: calc(100% - 10px); /* 10px = margin to align border */
    overflow: hidden;
    
    background-color: var(--white-secondary);
    color: var(--gray-primary);

    font-family: var(--primary-font);
    font-size: 3rem;
    font-weight: 500;
    text-align: right;
    
    border: 5px solid var(--purple-secondary);
    border-radius: 10px;
}

#logo {
    grid-column: span 5;

    text-align: right;
    width: calc(100% - 10px); /* 10px = margin to align border */
    height: calc(100% - 10px); /* 10px = margin to align border */
    background-color: var(--purple-primary);
    color: var(--gray-primary);

    font-family: monospace;
    font-size: 1rem;
    
    padding-top: 40px;
}



