@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


:root {
    /* Neutral colors */
    --black: #111111;
    --gray: #212121;
    --gray-secondary: #424242;

    --white: #ffffff;
    --off-white: #fafafa;
    --off-white-secondary: #f5f5f5;

    /* Accent colors */
    --red-400: #ef5350;
    --deep-purple-400: #7e57c2;
    --indigo-400: #5c6bc0;
    --green-400: #66bb6a;
    --yellow-mine: #ffcb6b;


    --primary-font: 'Poppins', 'Montserrat', Arial, sans-serif;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

body {
    /* background-color: var(--gray); */
    /* background: linear-gradient(45deg, var(--gray), var(--gray-secondary)); */
    background: linear-gradient(45deg, var(--black), var(--gray));
    color: var(--black);

    font-family: var(--primary-font);
    text-rendering: optimizeLegibility;

    height: 100vh;
    width: 100vw;
    margin: 0rem;
    overflow: hidden;
}

button {
    background-color: var(--off-white-secondary);
    color: var(--black);


    font-family: var(--primary-font);
    font-size: 1.5rem;
    font-weight: 500;

    border: none;
    border-radius: 75px;
}

button:hover {
    background-color: var(--off-white);
}

button:active {
    transform: scale(1.03);
}

.operator {
    color: var(--indigo-400);
}

.equals, .clear {
    color: var(--red-400);
}

.equals {
    grid-row: span 2;
}

.zero {
    grid-column: span 2;
}

#container {
    display: grid;
    grid-template-columns: repeat(5, 75px);
    grid-template-rows: repeat(6, 75px);
    grid-gap: 10px;
    justify-content: center;
    align-content: center;


    width: fit-content;
    height: fit-content;
    
    padding: 10px;
    margin: 10% auto 0 auto;
    max-height: 100%;
    overflow: hidden;

    background-color: var(--white);
    border: none;
    border-radius: 10px;
}

#display {
    grid-column: span 5;

    /* width: calc(100% - 10px); */
    /* height: calc(100% - 10px); */
    overflow: hidden;
    
    /* background-color: var(--off-white-secondary); */
    color: var(--black);

    font-family: var(--primary-font);
    font-size: 3rem;
    font-weight: 500;
    text-align: right;
    
    border: none;
    border-radius: 10px;
}

#logo {
    font-family: monospace;
    text-align: right;
    font-size: 3rem;

    position: absolute;
    margin: 1rem 1rem;
    right: 0;
    bottom: 0;
    color: var(--off-white);
}



